<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <appSettings>
        <add key="TestEnv" value="qa4"/>
        <add key ="InputCsvFileName" value="QReportPerformanceInputs_EMMAReports.csv"/>
        <add key="DefaultUser1" value="amansoor1" />
        <add key="DefaultPassword1" value="gw*loginMSRB1" />
        <add key="GlobalAdminUser1" value="scook" />
        <add key="GlobalAdminPassword1" value="gw*loginMSRB1" />
        <add key="PSOAdminUser1" value="scook" />
        <add key="AccountingUser1" value="REGRESSACCT01" />
        <add key="CallCenterUser1" value="REGRESSCALL01" />
		    <add key="DealerUser1" value="REGRESS1" />
        <add key="RegressionUserEmail" value="regressone@msrbtest.org" />
        <add key="RegressionUserEmailPassword" value="4xxe$$M4" />
        <add key="IncomingImapServer" value="devmail.msrbtest.org" />
        <add key="OutboundSmtp" value="192.168.30.11" />
        <!-- default Query Reports parameters-->
        <add key="Q20_BEGIN_DATE" value="9/1/2014" />
        <add key="Q20_END_DATE" value="9/7/2014" />
        <add key="Q20_MSRB_ID" value="A2205" />
        <add key="Q20_Q30_REPEAT_COUNT" value="1" />
        <add key="Q20_Q30_CUSIP6" value="" />
        <add key="Q20_Q30_CUSIP9" value="453799AA6 11750PAE3" />
        
        <!-- end default Query Reports parameters -->
        
        <!-- CurrentDriver choices are ["Andriod","Chrome","Firefox","InternetExplorer","Safari"]-->
        <add key="CurrentDriver" value="Chrome" />

	   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <log4net>
        <root additivity="false">
            <level value="ALL" />
            <appender-ref ref="TextFileLogAppender" />
            <appender-ref ref="ExceptionConsoleLog" />
            <appender-ref ref="ConsoleAppender" />
        </root>
        <appender name="ConsoleAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5p %c - %m%n" />
            </layout>
        </appender>
        <appender name="TextFileLogAppender" type="log4net.Appender.FileAppender">
            <file value="C:\logs\gateway-regression-tests.log" />
            <appendToFile value="true" />
            <immediateFlush value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5p %c - %m%n" />
            </layout>
        </appender>
        <appender name="ExceptionConsoleLog" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5p %c - %m%n" />
            </layout>
        </appender>
    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
